<h2>Edit Movie</h2>

<form method="POST" action="/movies/{{movie._id}}/edit">
    <div class="mb-3"></div>
    <label class="form-label">Name</label>
    <input class="form-control" type="text" name="name"/>

    <label class="form-label">Occupation</label>
    <input class="form-control" type="text" name="occupation"/>

    <label class="form-label">CatchPhrase</label>
    <input class="form-control" type="text" name="catchPhrase"/>

    <button class="btn btn-primary" type="submit">SUBMIT</button>

</div>

</form>